{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mt-2">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h5">
                  Используемые технологии
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  <ul>
                    <li>Python 3.7.10</li>
                    <li>Django 2.2.19</li>
                    <li>pytest-django 3.8.0</li>
                    <li>six 1.15.0</li>
                    <li>pytest-pythonpath 0.7.3</li>
                    <li>pytest-freezegun 0.4.2</li>
                  </ul>
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <div class="col-md-7">
        <div class="card-body">                    
          <div class="card-text">
            <p>Обучение дается сложно, но каждый раз прихожу к тому, что невероятное удовольствие получаешь от каждой маленькой победы, а это значит все идет как нужно. </p>
            <p>Чем дальше погружаюсь в обучение, тем больше туда затягивает и музыка в наушниках сменилась на IT подкасты, а обеденное время стало временем чтения на планшете Хабра и КОДа.</p>
            <p>Технологии, что описал, я только начал изучать. Дальше больше.</p>
            <p></p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %}